@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

body {
  text-align: center;
  background-color: #FFF9F4;
  font-color: #7A7570;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5em;
}

footer .fa-info {
  font-size: 1.2em;
  cursor: pointer;
}

footer .fa-info:hover {
  color: #7A7570;
}

.info:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text {
  visibility: hidden;
  color: #FFF9F4;
  background-color: #3D3A47;
  text-align: center;
  padding: 1em 2em;
  border-radius: 1em;
  font-size: 0.6em;
  width: 30em;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -17em;
  left: 103%; 
}

h1 {
  color: #3D3A47;
  font-weight: 400 !important;
  font-size: 5em !important;
}

hr {
  display: block;
  height: 1px;
  width: 20em;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em auto;
  padding: 0;
}

a {
  color: #FFF9F4 !important;
  text-decoration: none !important;
  background-color: #3D3A47;
  border-radius: 1em;
  padding: 1em 2em;
  margin: 1em;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8em;
  cursor: pointer;
}

a:hover {
  background-color: #7A7570;
}

a.disabled {
  background-color: #7A7570;
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

.hero {
  padding: 0 20em;
}

#loading-camera {
  position: absolute;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
  overflow: hidden;
  color: #7a7570;
}

#my_camera {
  margin-bottom: 2em;
  margin-left: 3em;
}

#countdown {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 22%;
  text-align: center;
  z-index: 99;
  overflow: hidden;
  font-size: 15em;
  color: #FFF9F4;
}

#result {
  display: flex;
}

#result div, #result p {
  width: 35em;
  display: block;
  margin: -1em 1em 4em 1em;
}

#picture img {
  width: inherit;
  border-radius: 1em;
}

#story {
  padding: 3em;
  border-radius: 1em;
}
